<footer>
    <div class="container-fluid">
        <a href="https://www.linkedin.com/in/sofia-tarditti/">
 
            <img class="logoIg" src="../../../assets/icons8-linkedin-100.png" alt="instagram">
     
        </a>

        <a href="https://github.com/sofiatarditti/">
    
            <img class="logoIg" src="../../../assets/github_media_social_video_icon_123259.png" alt="github">
  
        </a>

        <a href="https://www.instagram.com/sofia.tarditti/">
 
            <img class="logoIg" src="../../../assets/icons8-instagram-100.png" alt="instagram">
     
        </a>
    </div>

</footer>
