<html>

<html lang="en">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<title>Portfolio Sofia Tarditti</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<link rel="stylesheet" href="app.component.css">



<app-header (clickModal)="abrirModal()"></app-header>

<div *ngIf="modal == true">

	<app-modal (closeModal)="cerrarModal()" (loginModal)="onModalClicked()"></app-modal>
	
</div>



<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin= "anonymous"></script>
<div class=info>
	<div class="perfil-container">
		<img class="perfil" src="../assets/perfilok.png">
		<h1 style="color:rgb(225, 240, 236)">{{title}}</h1>
	</div>
	<app-acerca-de></app-acerca-de>
	<app-formacion></app-formacion>
	<div *ngIf="logged == false">
	<app-experiencia></app-experiencia>
	</div>
	<div *ngIf="logged == true">
		<app-editar-expe></app-editar-expe>
	</div>
	<router-outlet></router-outlet>
	<app-otras-habilidades></app-otras-habilidades>
</div>


<app-footer></app-footer>


</body>

</html>
